@page "/"
@inject ArtistasAPI artistasAPI
@inject MusicasAPI musicasAPI

<h1>Últimos artistas cadastrados...</h1>
@if(Artistas is not null)
{
    <MudGrid>
        @foreach (var item in Artistas.OrderByDescending(a=>a.Id).Take(5))
        {
           <CardArtista Item="item"/>
        }    

    </MudGrid>
     
}
<br/>
<br />
<h1>Últimas músicas cadastrados...</h1>
@if (Musicas is not null)
{
    @foreach (var item in Musicas.OrderByDescending(a => a.Id).Take(5))
    {
        <CardMusica Item="item" />
    }     
}

@code {
     public List<Artista>? Artistas { get; set; }
     public List<Musica>? Musicas { get; set; }

     protected override async Task OnInitializedAsync()
     {
          Artistas = await artistasAPI.GetArtistasAsync();
          Musicas = await musicasAPI.GetMusicasAsync();
     }
}
