@page "/"
@inject ArtistasAPI artistasAPI
@inject MusicasAPI musicasAPI
<h2>Últimos artistas cadastrados...</h2>
<br />
<br />
@if(Artistas is not null)
{
    <MudGrid>
        @foreach (var item in Artistas.OrderByDescending(a=>a.Id).Take(5))
        {
           <CardArtista Item="item"/>
        }   

    </MudGrid>     
}
<br/>
<h2>Últimas músicas cadastradas...</h2>
<br />
<br />
@if (Musicas is not null)
{
    <MudGrid>
        @foreach (var item in Musicas.OrderByDescending(a => a.Id).Take(5))
        {
            <CardMusica Item="item" />
        }
    </MudGrid>
}

@code {
     public List<Artista>? Artistas { get; set; }
     public List<Musica>? Musicas { get; set; }

     protected override async Task OnInitializedAsync()
     {
          Artistas = await artistasAPI.GetArtistasAsync();
          Musicas = await musicasAPI.GetMusicasAsync();
     }
}
