@page "/"
@inject ArtistasAPI artistasAPI
@inject MusicasAPI musicasAPI

<h3>Últimos artistas cadastrados...</h3>
@if(Artistas is not null)
{
    @foreach (var item in Artistas.OrderByDescending(a=>a.Id).Take(5))
    {
       <CardArtista Item="item"/>
    }     
}

<h3>Últimas músicas cadastrados...</h3>
@if (Musicas is not null)
{
    @foreach (var item in Musicas.OrderByDescending(a => a.Id).Take(5))
    {
        <CardMusica Item="item" />
    }     
}

@code {
     public List<Artista>? Artistas { get; set; }
     public List<Musica>? Musicas { get; set; }

     protected override async Task OnInitializedAsync()
     {
          Artistas = await artistasAPI.GetArtistasAsync();
          Musicas = await musicasAPI.GetMusicasAsync();
     }
}
